include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include label_customizer *.html
recursive-include label_customizer *.js
recursive-include label_customizer *.json
recursive-include label_customizer *.py
recursive-include label_customizer *.txt
recursive-exclude label_customizer *.pyc

